<!DOCTYPE html>
<html>
    <head>
        <title> Error </title>
        <link rel="stylesheet" type="text/css" href="css/404.css">
</head>
<body>
    <div id="container">
        <div class="content">
            <h2>Error</h2>
            <h3>Opps! An error occured</h3>
            <p>There is some error occred during the process</p>
            <a href="#"> Back To Home</a>
     </div>
    </div>
    <script type="text/javascript">
        var container=document.getElementById('container')
        window.onmousemove=function(e){
            var x=- e.clientX/5,
                y=- e.clientY/5  ;
             container.style.backgroundPositionX=x + 'px';
             container.style.backgroundPositionY=y + 'px';


        }
    </script>
</body>
</html>